/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #2196F3;
    --main-color-alt: #1787e0;
    --main-transition-duration: 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    .header .logo {
        width: 100%;
    }
}

.header .main-nav {
    display: flex;
}

@media (max-width:767px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav>li>a {
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition-duration);
    overflow: hidden;
    font-size: 18px;
}

@media (max-width:767px) {
    .header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.header .main-nav>li>a::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--main-transition-duration);

    top: 0;
    left: -100%;
}

.header .main-nav>li>a:hover::before {
    left: 0%;
}

.header .main-nav>li>a:hover {
    color: var(--main-color-alt);
    background-color: #fafafa;

}

/* End Header */

/* Start Landing */
.landing {
    position: relative
}

.landing:before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform-origin: left top;
    transform: skewY(-6deg);
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

.landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}

.landing .image img {
    width: 600px;
    max-width: 100%;
}

.landing .go-down {
    position: absolute;
    color: var(--main-color);
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition-duration);
}

.landing .go-down:hover {
    color: var(--main-color-alt)
}

.landing .go-down i {}

/* End Landing */